*.sublime-project
*.sublime-workspace
archive_1_5/
*.csv
*.jar
*.dat
*.fits
xval
*_result.json
*.pyc
*.pdf
*.js
fv_swt_cdf97_10_stdev.mat.txt
result.json
!*_train.csv
!*_test.csv
*.json
*.data
*.csv
result
test_html_output.py
.idea/